body, html {
  background-color: black;
}
h1 {
  padding: 10px;
  font-size: 36px;
  color: white;
}
#menubar {
  background-color: white;
  margin-bottom: 20px;
}
h1.logo {
  color: black;
  font-size: 14px;
  float: left;
}
ul {
	text-align:left;
}
ul li {
	display:inline-block;
}
ul li a {
	display:block;
	padding: 10px;
	text-decoration:none;
	color:black;
}

.tile {
	cursor: pointer;
	display:none;
}
img {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
	border-radius:40px;
  -webkit-box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.9, transparent), to(white));
}
